<%-include('include/_main_header.ejs') %> 


        <p class="pp">USERS MANAGEMENT</p>
        <form action="" method="get" class="adm">
            <table class="table">
            
                <thead class="thead-dark">
                    <tr class="tr">
                        <th class="th">S/No</th>
                        <th>Names</th>
                        <th>Occupation</th>
                        <th>State</th>
                        <th>Email</th>
                        <th>Mobile No</th>
                        <th>Twitter Username</th>
                        <th>Action</th></tr>
                </thead>
                <tbody class="tbody">
                    <%-include('include/_show') %> 
                       
                </tbody>
    
            </table>
        </form>


<%-include('include/_footer') %> 