<%-include('include/_header.ejs') %> 



    <div class="image_job">
        <div class="image">
            <img src="img/myNew-LOg0-01.png" alt="" class="images">
        </div>
        <div class="button">
            <a href="/my_form" class="href">FOR BAT</a>
            <a href="#" class="href">UR JOB PROFILE</a>
        </div>
    </div>


<%-include('include/_footer.ejs') %> 



